.icon {
    display: block;
    filter: drop-shadow(0 0 2px #000);
}
.counter {
    position: absolute;
    top: -8px;
    left: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-weight: var(--font-bold);
    color: var(--color-black);
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-white);
}